body {
  font-family: "Lucida Console", "Courier New", monospace !important;
  color: rgb(83, 73, 73) !important;
  background-color: rgb(235, 207, 222);
}

.top {
  position: sticky;
  height: 40px;

  top: 0%;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  z-index: 999;
}
.topleft,
.topright {
  background-color: aliceblue;

  display: flex;
  justify-content: center;
  align-items: center;
}
.topIcon {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.topmidle {
  background-color: aliceblue;
  align-content: center;
}
.item-ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;

  cursor: pointer;
}
.header {
  margin-top: 20px;
}
.headerTitles {
  background-color: aliceblue;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.headertitleSm {
  text-align: center;
  font-family: cursive;
}
.headertitlezLg {
  position: absolute;
  top: 15%;
  font-size: 3rem;
  font-family: "cursive";
}
.headerImage {
  margin-top: 70px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.home {
  display: flex;
}
.posts {
  flex: 9;
  background-color: aliceblue;

  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: aliceblue;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
}
.sidebarImg {
  height: 200px;
  width: 240px;
  text-align: center;
}
.sidebarTitle {
  text-align: center;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
  font-size: 23px;
}
.sidebarList {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebarListitem {
  font-size: 15px;
  font-family: "Playfair Display", serif;

  display: inline;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.postimage {
  width: 100%;
  border-radius: 10px;
}
.post {
  width: 450px;
  padding: 15px;
}
.post:hover {
  background-image: linear-gradient(
    to right,
    rgba(222, 35, 191, 0),
    rgb(212, 220, 221)
  );
  border-radius: 10px;

  cursor: pointer;
}
.postDate {
  float: right;
  color: red;
}
.postItem {
  display: flex;
  justify-content: space-between;
}
.postDescription {
  justify-content: space-between;
}
.writepost {
  max-width: 100%;
  min-height: auto;
}
.writepost img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.singlePost {
  height: 400px;
}
.singlePostimg {
  width: 100%;
  border-radius: 7px;
  height: 400px;
}
/* .singlePostFesc {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */
.singlepostdiv {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.spd {
  justify-content: space-between;
}
.singlePostFesc {
  flex: 5;
}
.singlepostimageitem {
  display: flex;
  justify-content: space-between;
}
.singlepostTitle {
}
.singlepostCat {
}
.singlepostdate {
}
.singlepostpage {
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
}

.fa-trash {
  color: red;
}
.postTitle {
}

.fa-plus-circle {
}
.wrightpost img {
  height: 300px;
}

.writeItem {
}
.loging {
  position: absolute;
  top: 30%;
  left: 30%;
}

.card1 {
  left: 100px;

  width: 80%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.registrationdiv {
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.registrationuserIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
